# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
      - name: Codecov
        # You may pin to the exact commit or the version.
        # uses: codecov/codecov-action@29386c70ef20e286228c72b668a06fd0e8399192
        uses: codecov/codecov-action@v3.1.4
        with:
          token: d0280c25-47ca-465b-9a71-b9397c3d1917
          flags: ${{ matrix.node-version }}
          fail_ci_if_error: true
          name: ${{ matrix.node-version }}
          path_to_write_report: codecovReport.txt
          verbose: true
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v3.1.3
        with:
          name: codecovReport.txt
          path: codecovReport.txt
